.login{
  width: 100%;
  height: 100%;
  background-image: url("../../assets/icon_login.jpg");
  background-size: 100% 100%;
  .login-header{
    width: 100%;
    height: 100px;
    background-color: black;
    opacity: .4;
  }
  .user{
    height: 300px;
    width: 400px;
    margin: 0 auto;
    margin-top: 80px;
    background-color: #fff;
    .user-login{
      font-size: 30px;
      font-weight: 600;
    }
  }
}